.user{
    padding: 50px 0;
    text-align: center;
    max-width: 185px;
    margin: 0 auto;

    &-avatar{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        background-color: white;
        box-shadow:0px 4px 4px 0 rgba(0,0,0,0.25);
    }

    &-avatar-img{
        display: inline-block;
        width: 64px;
        height: 64px;
        border-radius: 12px;
    }

    &-name{
        margin: 13px 0 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
}